<section class="portfolio">

<!--Project one when clicked it returns to home page. --> 
<div class="card go-home">
    <img src="img/imgOne.jpg" alt="Project One">
    <p>Project One</p>
</div>

 <!--Project two when clicked it returns to home page. --> 
<div class="card go-home">
    <img src="img/imgTwo.jpg" alt="Project Two">
    <p>Project Two</p>
</div>

 <!--Project three when clicked it returns to home page. --> 
<div class="card go-home">
    <img src="img/imgThree.jpg" alt="Project Three">
    <p>Project Three</p>
</div>

 <!--Project four when clicked it returns to home page. --> 
<div class="card go-home">
    <img src="img/imgFour.jpg" alt="Project Four">
    <p>Project Four</p>
</div>

 <!--Project five when clicked it returns to home page. --> 
<div class="card go-home">
    <img src="img/imgFive.jpg" alt="Project Five">
    <p>Project Five</p>
</div>

<!--Project six when clicked it returns to home page. --> 
<div class="card go-home">
    <img src="img/imgSix.jpg" alt="Project Six">
    <p>Project Six</p>
</div>

</section>
